.advertisement {
	&-show {
		h1,
		h2 {
			color: $theme-color-1;
		}

		iframe {
			@media screen and (max-width: 1300px) {
				height: 50vw;
			}
			&.video {
				width: 100%;
			}
		}

		.details {
			display: flex;
			div {
				width: 50%;
			}
			@media screen and (max-width: $screen-sm) {
				display: block;
				div {
					width: 100%;
				}
			}
		}
	}
}