.filter {
	background: $white;
	border: 1px solid $theme-color-2;
	box-shadow: 0 0 5px $theme-color-2;
	margin-top: -80px;
	overflow: hidden;
	padding: 40px 30px;
	position: relative;
	z-index: 1;
	@media screen and (max-width: 1455px) {
		margin-left: 15px;
		margin-right: 15px;
	}

	.form-group {
		float: left;
		padding: 0;
		width: 33%;
		@media screen and (max-width: $screen-xs) {
			float: none;
			margin-bottom: 15px;
			width: 100%;
		}
		label {
			font-weight: 600;
			margin: 0 5px;
			text-transform: uppercase;
		}
		select {
			width: 95%;
		}
	}
}