form {
	width: 100%;
	.btn {
		border: 0;
		padding: 15px 20px;
		text-transform: uppercase;
		margin-right: 1px;
		&:hover {
			@include darken($theme-color-1);
		}
	}
}

.form-group {
	padding: 5px 0;
}

select,
input,
textarea {
	background: $white;
	border: 1px solid #ccc;
	border-radius: 0;
	font-family: $font-family;
	font-size: 1rem;
	padding: 15px 10px;
	margin: 5px 0;
	width: -webkit-fill-available;
}
input[type="file"] {
	padding: 12px 10px;
}
input[type="submit"],
input[type="checkbox"] {
	outline: none;
	width: inherit;
}

.btn-primary {
	background: $theme-color-1;
	color: $white;
	cursor: pointer;
	@include darken($theme-color-1);
}

.required::before {
	content: "*";
	color: $theme-color-1;
}