header {
	background: $theme-color-2;
	height: 25vh;
	> section {
		align-items: flex-end;
		display: flex;
		height: 100%;
		margin: 0 auto;
		max-width: $screen-lg;
		position: relative;
		z-index: 2;
	}
}