@import "layout/alert";
@import "layout/article";
@import "layout/btn";
@import "layout/card";
@import "layout/column";
@import "layout/default";
@import "layout/flex";
@import "layout/list";
@import "layout/masonry";
@import "layout/options";
@import "layout/section";

nav,
header,
.filter,
main > section {
	margin: 0 auto;
	max-width: $screen-lg;
	@media screen and (max-width: 1400px) {
		padding-left: 15px;
		padding-right: 15px;
	}
	&.fullsize {
		max-width: inherit;
	}
}

main {
	margin-bottom: 70px;
	> section {
		margin: 30px auto;
	}
}

.align-items-center {
	align-items: center;
	display: flex;
	flex-flow: column;
}

.area-end {
	height: 200px;
	margin-bottom: 27px;
	margin-top: -150px;
	position: relative;
	z-index: 1;
	&.up {
		transform: skewY(-2deg);
	}
	&.down {
		transform: skewY(2deg);
	}
	&.orange {
		background: $theme-color-1;
	}
	&.grey {
		background: $theme-color-2;
	}
}
.with-area-end {
	margin-top: -65px;
	padding-top: 90px;
}

.monthly-costs {
    align-items: center;
	background: $theme-color-1;
    bottom: 0;
	color: $white;
    text-align: center;
    padding: 20px;
	position: fixed;
	width: 100%;
	p {
		margin: 0;
	}
}

.video {
	border: 0;
	width: 90%;
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
}