nav {
	background: $theme-color-1;
	height: 100px;
	display: flex;
	position: relative;
	z-index: 2;
	.nav-inner {
		display: flex;
		margin: 0 auto;
		max-width: $screen-lg;
		width: $screen-lg;
		> div {
			align-items: center;
			display: flex;
			height: 100%;
			width: 50%;
			&:last-of-type {
				flex-wrap: wrap;
				justify-content: flex-end;
			}
			.btn-login,
			.btn-register {
				background: $white;
				color: $theme-color-1;
				&:hover {
					background: $white !important;
					color: $theme-color-1 !important;
				}
			}
		}
	}

}