.icon {
	// Setze das Icon auf die Text-Grundlinie
	position: relative;
	top: .125rem;

	// Verhindere, dass das Icon schrumpft in einem Flex-Container
	flex-shrink: 0;

	// Skaliere das Icon auf die Schriftgröße des Elternelements
	height: 1em;
	width: 1em;

	// Lass das Icon die Farbe des Elternelements erben
	fill: currentColor;

	// Wird das Icon in einem Link verwendet, welcher die Textfarben-Transition hat,
	// dann verwende diese Transition auch für den Fall-Wert
	transition: fill .3s;
}