// FONT
$font-family: "Open Sans Condensed";
$font-size: 20px;

// COLORS
$black: #000;
$white: #fff;
$orange: #d35400;
$grey: #bdc3c7;
$yellow: #f1c40f;
$red: #c0392b;

$cancel: $yellow;
$edit: $yellow;
$delete: $red;

$font-weight-bold: 600;

$theme-color-1: $orange;
$theme-color-2: $grey;
$theme-color-3: $white;

$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1360px;
$screen-xl: 1920px;
$screen-4k: 3840px;