.alert {
	margin: 15px 0;
	padding: 15px 20px;
	text-align: center;
	&::first-line {
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}
	&.alert-warning {
		background: $yellow;
	}
	&.alert-error {
		background: $red;
		color: $white;
	}

	&.small {
		margin: 0 auto;
		width: 25%;
	}
	&.medium {
		margin: 0 auto;
		width: 50%;
	}
	&.large {
		margin: 0 auto;
		width: 100%;
	}
}