article {
	> h2 {
		position: relative;
		&::before {
			background: $theme-color-1;
			bottom: 0;
			content: "";
			height: 5px;
			position: absolute;
			width: 50px;
			transition: width .5s;
		}
		&:hover::before {
			width: 100px;
		}
	}
}