.btn {
	background: $theme-color-1;
	color: $white;
	display: inline-block;
	padding: 10px 15px;
	text-transform: uppercase;
	&.btn-cancel,
	&.btn-edit {
		background: $cancel;
		&:hover {
			@include darken($cancel);
		}
	}
	&.btn-delete {
		background: $delete;
		&:hover {
			@include darken($delete);
		}
	}
	&.btn-login,
	&.btn-register {
		background: $white;
		color: $theme-color-1;
		&:hover {
			@include darken($theme-color-1);
		}
	}
	&.btn-back {
		background: $theme-color-2;
		&:hover {
			@include darken($theme-color-2);
		}
	}
	&.spacing {
		margin: 0 5px;
		&:last-of-type {
			margin: 0 0 0 5px;
		}
	}
	&:hover {
		cursor: pointer;
	}
}