.card {
	&.small {
		width: $screen-xs;
		@media screen and (max-width: $screen-xs + 30) {
			width: 100%;
		}
	}
	&.middle {
		width: $screen-md;
		@media screen and (max-width: $screen-md + 30) {
			width: 100%;
		}
	}
	&.large {
		width: $screen-lg;
		@media screen and (max-width: $screen-lg + 30) {
			width: 100%;
		}
	}
	.card-item {
		padding: 7px 0;
	}
}