.columns {
	&-two,
	&-three {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// align-items: flex-start;
		> div {
			display: flex;
			flex-direction: column;
		}
	}
	&-two > div {
		width: 50%;
		@media screen and (max-width: $screen-sm) {
			width: 100% !important;
		}
	}
	&-three> div {
		width: 33%;
	}
}
.two-columns {
	> div {
		display: flex;
		flex-direction: column;
		width: 33%;
	}
}