html,
body {
	font-family: $font-family;
	font-size: $font-size;
	margin: 0;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
	width: 100%;
}
h3 {
	font-size: 2rem;
}
h4 {
	
}
h5 {
	
}
h6 {
	
}

a {
	color: $theme-color-1;
	text-decoration: none;
}

p {
	font-size: 1rem;
}

button {
	border: 0;
	font-family: $font-family;
	font-size: 1rem;
}

ul {

}