.flex {
	display: flex;
	&.start {
		justify-content: flex-start;
	}
	&.end {
		justify-content: flex-end;
	}
	&.center {
		justify-content: center;
	}
	&.center-center {
		align-items: center;
		justify-content: center;
	}
}