.list {
	margin: 15px 0;
	.list-item {
		display: flex;
		justify-content: space-between;
		text-align: left;
		div {
			padding: 5px 0;
			width: 33.3%;
		}
		a {
			margin-left: 1px;
			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}