.mobile-order-1 {
	@media screen and (max-width: $screen-sm) {
		order: 1;
	}
}
.mobile-order-2 {
	@media screen and (max-width: $screen-sm) {
		order: 2;
	}
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}