.section-small {
	width: $screen-xs;
	@media screen and (max-width: $screen-xs + 30) {
		width: 100%;
	}
}
.section-middle {
	width: $screen-sm;
	@media screen and (max-width: $screen-sm + 30) {
		width: 100%;
	}
}
.section-large {
	width: $screen-md;
	@media screen and (max-width: $screen-md + 30) {
		width: 100%;
	}
}